/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

/* 
    Created on : 23/12/2020, 12:39:14 PM
    Author     : ygonzaleza
*/

:root {
    --lightgray: #efefef;
    --blue: steelblue;
    --white: #fff;
    --black: rgba(0, 0, 0, 0.3);
    --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}
 
* {
    padding: 0;
    margin: 0;
  }
button {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    font-size: inherit;
}

.btn-group {
    text-align: center;
}

.open-modal {
    font-weight: bold;
    background: var(--blue);
    color: var(--white);
    padding: .75rem 1.75rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

/*CUSTOM VARIABLES HERE*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: var(--black);
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
}

.modal-body {
    padding: 20px 30px;
}
/*CUSTOM VARIABLES HERE*/
.modal-content {
    border-radius: 3px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    background: white;
}

.modal-header, .modal-footer {
    background: var(--lightgray);
}
.modal-header {
    border-bottom: 1px solid #e5e5e5;
}
.modal-footer {
    background: #ecf0f1;
    border-radius: 0 0 3px 3px;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-header .modal-close {
    font-size: 1.5rem;
}

.modal p+p {
    margin-top: 1rem;
}

.modal {
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
}

.modal.is-visible {
    visibility: visible;
    opacity: 1;
}